<!DOCTYPE HTML>
<html>

<head>
    <title>Prudenit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <p id="pageload_bar"></p>
    <div id="loading_anim">
        <p class="dot" style="left: 0px;"></p>
        <p class="dot" style="left: 20px;"></p>
        <p class="dot" style="left: 40px;"></p>
        <p class="dot" style="left: 60px;"></p>
    </div>
    <main>
        
        <div id="login_page">
            <h1>
                <%= locales.signin %>
            </h1>
            <form action="/auth/login" method="POST">
                <div id="content">
                    <input type="text" name="email" autocomplete="off" id="email" reqiured placeholder="E-mail"><br>
                    <input type="password" name="password" autocomplete="off" id="password" reqiured placeholder=<%=locales.password %>>
                </div>
                <div id="links">
                    <a href="#" onclick="loadPage('/register/')">
                        <%= locales.register %>
                    </a>
                    |
                    <a href="#">
                        <%= locales.passwordreset %>
                    </a>
                </div>
                <% if (errs.length != 0) { %>
                    <% errs.forEach(err => { %>
                        <span class="error"><%= locales[err] %></span> <br />
                    <% }); %>
                <% } %>
                <input type="submit" id="login" onclick="login();" value="<%= locales.signin %>"></input>
            </form>
        </div>
    </main>
    <script src="/js/login.js"></script>
</body>

</html>