<!DOCTYPE HTML>
<html>
<head>
    <title>Prudenit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://hcaptcha.com/1/api.js"></script>
</head>

<body>
    <p id="pageload_bar"></p>
    <div id="loading_anim">
        <p class="dot" style="left: 0px;"></p>
        <p class="dot" style="left: 20px;"></p>
        <p class="dot" style="left: 40px;"></p>
        <p class="dot" style="left: 60px;"></p>
    </div>
    <main>
        <div id="login_page" h="register">
            <h1>
                <%= locales.register %>
            </h1>
            <form method="POST">
                <div id="content">
                    <input type="text" name="email" autocomplete="off" id="email" reqiured placeholder="E-mail"
                    <% if (email != "") {%>
                        value=<%= email %>
                    <% } %>><br>
                    <input type="text" name="username" autocomplete="off" id="username" reqiured placeholder=<%=locales.username%>
                    <% if (username != "") {%>
                        value=<%= username %>
                    <% } %>><br>
                    <input type="password" name="password" autocomplete="off" id="password" reqiured placeholder=<%=locales.password %>>
                    <input type="password" name="repassword" autocomplete="off" id="password-repeat" reqiured placeholder="<%= locales.repassword %>">
                </div>
                <% if (errs.length != 0) { %>
                    <% errs.forEach(err => { %>
                        <span class="error"><%= locales[err] %></span> <br />
                    <% }); %>
                <% } %>
                <div id="links">
                    <a href="#" onclick="loadPage('/login/')">
                        <%= locales.signin %>
                    </a>
                    |
                    <a href="#">
                        <%= locales.passwordreset %>
                    </a>
                </div>

                <!--<input type="checkbox" id="bot" onclick="document.querySelector('#overlay').style.display = 'block'" name="acc" style="width: 20px;position: relative;top: 2.5px;margin: 0px 0px;">
                <label for="bot"> locales.robot </label><br>-->
                
                <input type="submit" id="login" onclick="login();" value="<%= locales.register %>"></input>
                <!--<div id="overlay" style="display: none;">
                    <div class="h-captcha" data-sitekey="sitekey" data-theme="dark" data-callback="done"></div>
                </div>-->
            </form>
        </div>
    </main>
    <script src="/js/login.js"></script>
</body>

</html>